img{
  height: 23rem;
  width: 20rem;
  object-fit: scale-down;
}

.card{
  margin: 0.3rem;
  height: 33rem !important;
}

.carrossel{
  margin-bottom: 20px;
}

h2{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000 !important;
  margin: 10px;
}

.bg-body{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff !important;
  background-color:#350056 !important ;
}
.App{
  text-decoration: none;
  

}

.botaoCompra{
  background-color:#350056 !important ;
  font-size: 20px;
  text-align: center;
  height: 50px; 
  display: flex;
}
.preco{
  font-weight: bold;
  font-size: 30px;
}
p{
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
  font-size: 40px;
  text-align: left;
  color:#350056 !important ;
}
.obs{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(48, 48, 48);
  
}
